# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - "pip install -e ."
  - if [ "$TRAVIS_PYTHON_VERSION" = "2.6" ] ;then pip install unittest2 ;fi

script:
  - if [ "$TRAVIS_PYTHON_VERSION" = "2.6" ]
    then unit2 discover sgp4
    else python -m unittest discover sgp4
    fi
